* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

*.print {
	display: none;
}

a {
	border-bottom: 1px solid rgb(0,0,190);
	color: rgb(0,0,180);
	text-decoration: none;
}

a:hover {
	background-color: rgb(0,0,180);
	color: white;
}

html {
	background-color: rgb(255,255,210);
}

body {
	width: 980px;
	margin: 0 auto 40px auto;
	font-family: Calibri, 'Trebuchet MS', Arial, sans-serif;
}

header {
	font-size: 14px;
	margin-bottom: 25px;
}

	header > p {
		text-align: right;
	}

	header > h1 {
		text-align: center;
		font-size: 32px;
	}
	
	header > nav {
		margin-top: 20px;
		font-size: 13px;
	}
	
		header > nav ul {
			display: inline;
			list-style: none;
			padding: 0;
		}
		
		
			/* flecha, hay que revisarla */
			header > nav ul > li {
				display: inline;
			}
			
			header > nav ul > li > a {
				border-bottom: none;
			}
			
			header > nav ul > li > a:hover {
				background-color: transparent;
				color: blue;
				border-bottom: 1px solid blue;
			}
			
			header > nav ul > li > a:not(:only-child) + ul:before {
				content: '»';
			}
			
section {
	
}

	section > h1 {
		width: 100%;
		font-size: 20px;
		border-bottom: 2px solid black;
		margin-bottom: 20px;
	}
	
	section > nav {
	}
	
		section > nav > ul {
			list-style: none;
		}
	
			section > nav > ul > li {
				margin-bottom: 5px;
			}
			
	section > a {
		display: inline-block;
		float: right;
		min-width: 80px;
		margin-bottom: 10px;
		padding: 1px 4px;
		background-color: lightgrey;
		color: black;
		border-bottom: none;
		border: 1px outset lightgrey;
		border-radius: 10px;
                text-align: center;
	}
	
	section > a:hover, section > a:active {
		background-color: darkgrey;
		color: white;
		border: 1px inset lightgrey;
	}
			
	section > table {
		width: 100%;
		background-color: rgb(220,220,220);
		border: 1px solid lightgrey;
		font-size: 15px;
	}
	
	section > table.small {
		font-size: 12px;
	}
	
		section > table.small > * > tr > *:first-of-type {
			width: 70px;
			padding-left: 0;
		}
		
		section > table.small > * > tr > *:nth-of-type(7),
		section > table.small > * > tr > *:nth-of-type(8) {
			width: 65px;
		}
	
		section table > thead {
			background-color: black;
			color: white;
		}
		
		section table > tbody {
			height: 405px;
			overflow-y: scroll;
			/* revisar scroll */
			
		}
		
				section table > * > tr > * {
					padding: 1px;
				}
		
				section table > tbody > tr > td {
					border: 1px solid grey;
					background-color: white;
					padding: 1px 4px;
				}
				
				section table > tbody > tr > td.number {
					text-align: right;
					padding-left: 22px;
				}
				
					section table > tbody > tr > td.number > span {
						float: left;
						margin-left: -10px;
					}
					
				section table > tbody > tr > td.decimal {
					text-align: right;
					padding-right: 22px;
				}
				
					section table > tbody > tr > td.decimal > span:first-of-type:not(:only-of-type) {
						width: 30px;
						margin-right: 10px;
						text-align: left;
					}
				
					section table > tbody > tr > td.decimal > span:last-of-type:not(:only-of-type) {
						float: right;
						width: 16px;
						margin-right: -10px;
						overflow: visible;
					}
					
					section table > tbody > tr > td.decimal > span:only-of-type {
						float: right;
						width: 16px;
						margin-left: 35px;
						margin-right: -10px;
						overflow: visible;
					}
				
				section > table > * > tr > *:last-of-type {
					width: 120px;
				}
				
				section > table.registro_empleados > * > tr > *:last-of-type {
					width: 260px;
				}
				
					section table > tbody > tr > td > a {
						border: none;
					}
					
	section > form {
		text-align: center;
	}
	
	section > form.filter {
		float: left;
		text-align: left;
		margin-bottom: 15px;
	}
	
		section > form > input,
		section > form > select {
			width: 200px;
			border: 1px solid lightgrey;
			color: rgb(40,40,40);
			vertical-align: middle;
		}
		
		section > form.filter > input:first-of-type:not(:only-of-type) {
			display: inline-block;
		}
		
		section > form.filter > input:last-of-type:not(:only-of-type) {
			display: inline-block;
			margin-left: 574px;
		}
	
		section > form > table {
			float: left;
			width: 466px;
			table-layout: fixed;
			font-size: 13px;
		}
		
			section > form > table > caption {
				font-size: 16px;
			}
			
					section > form > table > * > tr > *:nth-of-type(1),
					section > form > table > * > tr > *:nth-of-type(2) {
						width: 65px;
					}
					
					section > form > table > * > tr > *:nth-of-type(3),
					section > form > table > * > tr > *:nth-of-type(4),
					section > form > table > * > tr > *:nth-of-type(5) {
						width: 90px;
					}
					
					section > form > table > * > tr > *:nth-of-type(6) {
						width: 55px;
					}
	
		section > form > fieldset {
			display: inline-block;
			width: 466px;
			padding: 10px;
			border: 1px solid grey;
			background-color: white;
			text-align: left;
			vertical-align: top;
		}
		
		section > form > fieldset:not(:only-child) {
			display: inline-block;
		}
		
		section > form.registro_empleados > fieldset {
			height: 200px;
		}
		
		section > form.registro_mensual > fieldset {
			height: 110px;
		}
		
			section > form > fieldset > legend {
				padding: 1px 3px;
				border: 1px solid grey;
				background-color: white;
			}
			
			section > form > fieldset > label {
				display: inline-block;
				width: auto;
				margin: 2px 0;
			}
			
				section > form > fieldset > label > span {
					display: inline-block;
					width: 180px;
				}
				
				section > form > fieldset > label > input,
				section > form > fieldset > label > select {
					display: inline-block;
					width: 270px;
					border: 1px solid lightgrey;
					color: rgb(40,40,40);
					vertical-align: middle;
				}
				
				section > form > fieldset > label > input[type="checkbox"] {
					margin-top: -4px;
					cursor: pointer;
				}
				
				section > form > fieldset > label > input[type="number"],
				section > form > fieldset > label > input[type="range"] {
					text-align: right;
				}
				
			section > form > fieldset > label.rut {
				width: 429px;
			}
			
				section > form > fieldset > label.rut > input {
					width: 243px;
				}
			
			section > form > fieldset > label.dv {
				width: 23px;
			}
			
				section > form > fieldset > label.dv > span {
					width: 5px;
				}
			
				section > form > fieldset > label.dv > input {
					width: 12px;
				}
				
			section > form > fieldset > label.start {
				width: 312px;
			}
			
				section > form > fieldset > label.start > input {
					width: 126px;
				}
				
			section > form > fieldset > label.end {
				width: 137px;
			}
			
				section > form > fieldset > label.end > span {
					width: 5px;
				}
				
				section > form > fieldset > label.end > input {
					width: 126px;
				}
				
				section > form > fieldset > label > input:focus,
				section > form > fieldset > label > select:focus {
					background-color: rgb(255,255,180);
				}
				
			section > form > fieldset > div {
				height: 16px;
				margin: 8px 0;
			}
				
				section > form > fieldset > label > input:first-child {
					display: inline;
					width: auto;
				}
				
				section > form > fieldset > label > span:last-child {
					display: inline;
					width: auto;
				}
			
			section button {
				display: inline-block;
				float: right;
				min-width: 80px;
				margin: 20px 0 0 0;
				padding: 1px 4px;
				background-color: lightgrey;
				color: black;
				border-bottom: none;
				border: 1px outset lightgrey;
				border-radius: 10px;
			}
			
			section button:hover {
				background-color: darkgrey;
				color: white;
				border: 1px inset lightgrey;
				cursor: pointer;
			}
			
	section > div {
		width: 590px;
		margin: 0 auto;
	}
			
		section > div > ul {
			margin: 0 auto;
			width: 580px;
			padding: 5px;
			background-color: white;
		}
		
	section ul {
		list-style: none;
	}
		
			section > div > ul > li:nth-of-type(1),
			section > div > ul > li:nth-of-type(2) {
				display: inline-block;
				margin-bottom: 20px;
				font-size: 18px;
				font-weight: bold;
			}
                        
                        section > div > ul > li:nth-of-type(1) {
                            width: 408px;
                        }
			
			section > div > ul > li:nth-of-type(2) {
				width: 143px;
				padding-left: 25px;
				text-align: left;
				
			}
			
				section > div > ul > li:nth-of-type(2) > span {
					float: right;
				}
			
				section > div > ul > li:nth-of-type(3) > ul {
					margin-bottom: 20px;
					border-top: 2px solid black;
				}
				
				section > div > ul > li:nth-of-type(3) > ul:last-of-type {
					font-weight: bold;
					font-size: 18px;
				}
				
					section > div > ul > li:nth-of-type(3) > ul:last-of-type > li {
						display: inline-block;
						width: 288px;
					}
					
					section > div > ul > li:nth-of-type(3) > ul:last-of-type > li:last-of-type {
						width: 108px;
						padding-left: 180px;
						text-align: left;
					}
					
						section > div > ul > li:nth-of-type(3) > ul:last-of-type > li:last-of-type > span {
							float: right;
							width: 70px;
							text-align: right;
						}
					
					section > div > ul > li:nth-of-type(3) > ul > li:first-of-type {
						margin-bottom: 10px;
						font-size: 18px;
						font-weight: bold;
					}
					
						section > div > ul > li:nth-of-type(3) > ul > li:last-of-type > ul {
							margin-top: 15px;
						}
					
							section > div > ul > li:nth-of-type(3) > ul > li:last-of-type > ul > li {
								display: inline-block;
								width: 288px;
								font-weight: bold;
							}
						
							section > div > ul > li:nth-of-type(3) > ul > li:last-of-type > ul > li:last-of-type {
								width: 108px;
								padding-left: 180px;
								text-align: left;
							}
						
								section > div > ul > li:nth-of-type(3) > ul > li:last-of-type > ul > li:last-of-type > span {
									float: right;
									width: 70px;
									text-align: right;
									border-top: 2px solid black;
								}
					
							section > div > ul > li:nth-of-type(3) > ul > li:not(:last-of-type) > ul > li:first-of-type {
								margin-top: 10px;
								border-top: 1px solid black;
								font-weight: bold;
							}
								
											section > div > ul > li:nth-of-type(3) > ul > li > ul > li > ul > li > ul > li {
												display: inline-block;
												width: 288px;
											}
									
											section > div > ul > li:nth-of-type(3) > ul > li > ul > li > ul > li > ul > li:last-of-type {
												width: 108px;
												padding-left: 180px;
												text-align: left;
											}
									
												section > div > ul > li:nth-of-type(3) > ul > li > ul > li > ul > li > ul > li:last-of-type > span {
													float: right;
												}
									
								section > div > ul > li:nth-of-type(3) > ul > li > ul > li:nth-of-type(3) > ul {
									margin-top: 10px;
								}
						
									section > div > ul > li:nth-of-type(3) > ul > li > ul > li:nth-of-type(3) > ul > li {
										display: inline-block;
										width: 288px;
										color: rgb(60,60,60);
									}
							
									section > div > ul > li:nth-of-type(3) > ul > li > ul > li:nth-of-type(3) > ul > li:last-of-type {
										width: 108px;
										padding-left: 180px;
										text-align: left;
									}
							
										section > div > ul > li:nth-of-type(3) > ul > li > ul > li:nth-of-type(3) > ul > li:last-of-type > span {
											float: right;
											width: 70px;
											text-align: right;
											border-top: 1px solid black;
										}
										
	section > ul {
		display: inline-block;
		width: 466px;
		height: 170px;
		padding: 10px;
		border: 1px solid grey;
		background-color: white;
		text-align: left;
		vertical-align: top;
	}
		
			section > ul > li > ul {
				margin-bottom: 5px;
			}
			
				section > ul > li > ul > li {
					display: inline-block;
					vertical-align: top;
				}
				
				section > ul > li > ul > li:first-of-type {
					width: 180px;
				}
				
				section > ul > li > ul > li:last-of-type {
					width: 282px;
				}
		
footer {
	margin-top: 50px;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid black;
}